body {
  background-color: #000000;
 
  margin: 0;
  


}

header {
  display: flex;
  justify-items: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-bottom: #a8abadfe solid 2px;
  background-color: black;
  padding-top: 25px;
  justify-content: space-between;
}
.search {
  padding: 25px;
}
.search button {
  background-color: orangered;
  color: white;
  font-size: large;
  padding: 3px 5px 3px 5px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.search input {
  padding-top: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
.navbar {
  display: flex;
 position: relative;
  justify-content: left;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 80px;
}

.logo a,
.navbar a {
  text-decoration: none;
  padding: 25px;
  color: white;
}

footer {
  padding: 3px;

  border-top: #a8abadfe solid 2px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.social {
  display: flex;

  justify-content: center;
  border-bottom: #a8abadfe solid 2px;
}

.social a {
  font-size: 24px;
  color: white;

  width: 40px;
  height: 40px;

  padding: 20px;
}

.social a:hover {
  color: orangered;
 
}

.list {
  line-height: 1.6;
  display: flex;

  justify-content: center;
  gap: 50px;
  margin-right: 20px;
}

li a {
  color: white;

  transition: 0.3s ease;
}
@media only screen and (max-width: 480px) {
  .logo a {
    font-size: 20px;
  }
  header {
    justify-items: center;
    display: block;
    padding: 0px;
  }
  .search {
    padding: 0px;
    padding-bottom: 10px;
  }
  .search button {
    padding: 1px 3px 1px 3px;
    font-size: 15px;
  }
  .search input {
    padding-top: 2px;

    font-size: 12px;
  }

  .navbar  a {
    font-size: 12px;
    padding: 18px;
  }
}
@media only screen and (max-width: 768px){
  .navbar  a {
    font-size: 14px;
   }

   .logo{
    font-size: large;
   }
  .search {
    padding: 0px;
    padding-bottom: 10px;
  }
  .search button {
    padding: 1px 3px 1px 3px;
    font-size: 15px;
  }
  .search input {
    padding-top: 2px;

    font-size: 12px;
  }

}